<html>
<head>
<meta charset="utf8"/>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
<script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
$(function(){
  getTransactions();
});

function getTransactions(){
  $.ajax({
    type: 'GET',
    url: '/transactions',
    success: function( transactions ){
      transactions = JSON.parse( transactions );
      console.log( transactions );
      transactions.messages.forEach( transaction => {
        var tr = "<tr><td>" + transaction.transactionId + "</td><td>" + transaction.type + "</td><td>" + transaction.timestamp + "</td></tr>";
        $('#transactions_table_tbody').append( tr );
      });
    },
    error: function( err ){
      console.log( err );
    }
  });
}

function getTransaction( transactionId, type ){
}
</script>
<title>Viewer</title>
</head>
<body>

<div class="container-fluid" style="padding:20px 0; font-size:8px;">
  <table class="table table-hover table-bordered" id="transactions_table">
    <thead class="table-inverse">
      <tr><th bgcolor="#ddddff" colspan="7">Transactions</th></tr>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody id="transactions_table_tbody">
    </tbody>
  </table>
</div>
</body>
</html>

